.container {
  width: 600px;
  height: 200px;
  border: 2px solid #333;
}

.contain {
    width: 400px;
    /* height: 300px; */
    border: 2px solid #333;
  }
.div1 {
    width: 100px;
    height: 100px;
    background: blue;
    color: #fff;
    float: right;
}
.div2 {
    width: 100px;
    height: 100px;
    background: red;
    color: #fff;
    float: right;
    }
.div3 {
    width: 100px;
    height: 100px;
    background: orange;
    color: #fff;
    float: right;
    }
.clear {
    clear: both;
}