.container {
  width: 600px;
  height: 200px;
  border: 2px solid #333;
}

.contain {
    width: 400px;
    /* height: 300px; */
    border: 2px solid #333;
    /* overflow: hidden;  */   /* 方法二 */  
  }
.div1 {
    width: 100px;
    height: 100px;
    background: blue;
    color: #fff;
    float: right;
}
.div2 {
    width: 100px;
    height: 100px;
    background: red;
    color: #fff;
    float: right;
    }
.div3 {
    width: 100px;
    height: 100px;
    background: orange;
    color: #fff;
    float: right;
    }
.clearfix:after {
    content: "."; /* 内容为空 */
    height: 0; /* 高度为0 */
    display: block; /* 转化为块级元素 */
    visibility: hidden; /* 显示方式为隐藏 */
    clear: both; /* 清除浮动 */
    /* none 不清除 left 清除左浮动 right 清除右浮动 both 清除左右浮动 */
}